<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Envoi mail</title>
    </head>
    <body>
        <h1>coucou</h1>
        <p>{{ data.firstname~ " "~ data.lastname }}</p>
        <p>{{ data.email }}</p>
        <p>{{ data.content }}</p>

    </body>

</html>