<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>
    <link href="{{ asset("public/css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% block stylesheets %}{% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% block body %}

{% endblock %}


{% block javascript %}
    <!-- jQuery -->
    <script src="{{ asset("public/js/jquery.js") }}"></script>

    <script>
        $(document).ready(function() {
            var btnCookie = $('.cookies a');
            btnCookie.on('click', clicBtnCookie);
            function clicBtnCookie(e) {
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: 'http://localhost/symfony/web/app_dev.php/disclaimer-cookies',
                    data: 'disclaimer=1', // disclaimer = avertissement
                    dataType: 'json',
                    success: onSuccess
                })
                $('.cookies').fadeOut("slow");
            }

            function onSuccess() {
                console.log($('#schbox').val());
            }

            $('#schbox').autocomplete( function(){
                    $.ajax({
                        method: 'POST',
                        url: 'http://localhost/symfony/web/app_dev.php/search',
                        data: 'search='+$('#schbox').val(),
                        dataType: 'json',
                        product: onSuccess
                    })
            })

        });




    </script>
{% endblock %}

</body>

</html>
