{% extends "layout.html.twig" %}

{% block ariane %}
    <li class="active">Création de produits</li>
{% endblock %}

{% block content %}

    <strong>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-info">
                {{ flash_message }}
            </div>
        {% endfor %}
    </strong>

    {% include "form/ProductForm.html.twig" %}

{% endblock content %}