{% extends "layout.html.twig" %}

{% block ariane %}
    <li class="active">Modification de produits</li>
{% endblock %}


{% block content %}

    {% include "form/ProductForm.html.twig" %}

{% endblock content %}



