{% extends 'default_old/bloc_mere.html.twig' %}

{% block head %}
    <meta name="description" content="test">
    <title>Mon super site | frere</title>

{% endblock %}

{% block titre %}
    {{ parent() }}
    <h2>bloc frere</h2>
{% endblock %}

{% block nav %}{% endblock %}