{% extends "layout.html.twig" %}

{% block ariane %}
    <li class="active">Création de catégories</li>
{% endblock %}

{% block content %}

    <strong>

        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-info">
                {{ flash_message }}
            </div>
        {% endfor %}
    </strong>

    {% include "form/CategoryForm.html.twig" %}

{% endblock content %}

{% block javascript %}
    {{ parent() }}

    <!-- ckEditor -->
    <script src="{{ asset("plugins/ckeditor/ckeditor.js") }}"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'adminbundle_categorie_title' );
    </script>
{% endblock %}