{% extends "layout.html.twig" %}

{% block ariane %}
    <li class="active">Modification des catégories</li>
{% endblock %}


{% block content %}


    {% include "form/CategoryForm.html.twig" %}

{% endblock content %}



