{% extends "public.layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Custom CSS -->
    <link href="{{ asset("public/css/shop-homepage.css") }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>bienvenue {{ user.username }}!!!</h1>
{% endblock %}